html {
  box-sizing: border-box;
  padding: 0 10px;

}
*, *:before, *:after {
  box-sizing: inherit;
  //border: 1px solid red;
}

p{
  font-size: 18px !important;
  max-width: 700px;
  margin: 0 auto;
}

#canvas{
  width: 100%;
  height: 100%;
  position:fixed;
  left:0;
  top:0;
  bottom: 0;
  z-index:-1;
}

.logo{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container.info{
  background: white;
  border-radius: 25px;
  margin: 15px auto;
  padding: 20px;
  border: 8px solid black;
  position: relative;
}

.twitter-share-button{
  position: absolute;
  top: 5px;
  right: 5px;
}

i{
  margin: 0 10px;
}

.gameplay-gif{
  max-width: 100%;
  border-radius: 10px;
  border: 8px solid black;
  margin: 5px

}

.credits{
  text-align: center;
  margin: 20px auto;
  color: white;
  max-width: 600px;
}

.credits a{
  color: white;
}



.well{
  background-color: #009aab;

  padding: 15px;
  color: white;
  margin: 5px;
  font-size: 18px;

  border-radius: 10px;
  border: 8px solid #006874;
}


.woodgrain{
  //  background-color: #6d5a39;
  background: url("../images/wood-grain.png");
  border: 8px solid black;
  border-radius: 20px;
  padding: 20px !important;
}
.woodgrain-inner{
  background: #e5e19e;
  border-radius: 10px;
  padding: 15px;
  color: black;
  margin: 5px;
  font-size: 18px;
}

.woodgrain-inner a{
  color: black;
  font-weight: bold;
}




.footer .woodgrain-inner{
}

.social-links a{
  width: 60px !important;
  height: 60px !important;
  border-radius: 8px;
  color: #3f311b;
  font-size: 40px;
  text-decoration: none;
  border: 1px solid black;
}

.social-links a:hover{
  background: #3f311b;
  color: white;
}

@media (min-width: 600px) {
  .coming-soon-message{
    transform: rotate(8deg);
    width: 344px;
    position: absolute;
    z-index: 1;
    top: -56px;
    right: -56px;
  }
  .coming-soon-message h2{
    margin: 0;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}
