html {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#canvas{
  width: 100%;
  height: 100%;
  position:fixed;
  left:0;
  top:0;
  bottom: 0;
  z-index:-1;
}

.logo{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container.info{
  background: white;
  border-radius: 25px;
  margin: 15px auto;
  padding: 20px;
  border: 8px solid black;
  position: relative;
}

.twitter-share-button{
  position: absolute;
  top: 5px;
  right: 5px;
}

i{
  margin: 0 10px;
}

.gameplay-gif{
  max-width: 100%;
  border-radius: 10px;
  border: 8px solid black;
  margin: 5px

}

.credits{
  text-align: center;
  margin: 20px auto;
  color: white;
  max-width: 600px;
}

.credits a{
  color: white;
}
